{{!-- <h1>Here are our pups</h1>


this will be placeholder images --}}
<div>
{{#each pets}}
<div>
    <a href="/pets/{{id}}">
      <div>
        <button class="button button-primary">
          {{name}} | {{breed}}
        </button>
        <img src="{{image}}" alt="{{name}}">
      </div>
    </a>
</div>
{{/each}}
</div>

<a href="/new">
  <button>
    Put your pet up for adoption
  </button>
</a>
