{{!-- <h1>Here are our pups</h1>


this will be placeholder images --}}
<div class="containerFlex">
{{#each pets}}
<div class="pet">
    <a href="/pets/{{id}}">
      <button class="button button-primary">
        {{name}}
        {{breed}}
      </button>
      <img src="{{image}}" alt="{{name}}">
    </a>
</div>
{{/each}}
</div>

<a href="/new">
  <button>
    Put your pet up for adoption
  </button>
</a>
