<div class="animal details">
  <h1>{{name}}</h1>
    <ul>
      <li>Species: {{species}}</li>
      <li>Breed: {{breed}}</li>
      <li>Sex: {{sex}}</li>
      <li>Age: {{age}}</li>
      <li>Likes: {{likes}}</li>
    </ul>
    <h3>Backstory:</h3>
    <p>
      {{backstory}}
    </p>
  <img src="{{image}}" alt="">
</div>